<div class="row">
    <div class="col-3">
        CourseName => {{ courseName() }}
    </div>
    <div class="col-2">
        {{ rollNo() }}
    </div>
    <div class="col-3">
        {{ student().name }}
        {{ student().age }}
    </div>
    <div class="col-3">
        {{ cityList()}}
    </div>
</div>
<div class="row">
    <div class="col-3">
        {{ courseDuration() }}
    </div>

</div>
<div class="row">
    <div class="col-3">
        <button class="btn btn-primary" (click)="changeCourseName()">Change Course</button>
    </div>
</div>
